voice_memo_transcribe.json
{
  "name": "Voice memo transcribe autoinit",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Essential item data').item.json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "e40a883e-14c6-4012-99f4-384cfa5e1925",
      "name": "Download audio",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4060,
        880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "textMemoName",
              "value": "={{ $('Essential item data').item.json[\"name\"] }}.txt"
            }
          ]
        },
        "options": {}
      },
      "id": "050fe6fb-b152-4b09-9ca5-14ed89575a15",
      "name": "Set text memo file name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3080,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "value2": "={{ $('Set text memo file name').item.json[\"textMemoName\"] }}"
            }
          ]
        }
      },
      "id": "6445b498-daf0-40c9-9ca5-32f0cd5e9f41",
      "name": "filter out non-exact matches",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        3500,
        560
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e936aa8f-c0f5-4249-9a7a-d76566ccc063",
      "name": "IF text memo found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3840,
        760
      ],
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "amount": 0.1,
        "unit": "minutes"
      },
      "id": "f82d0eef-6e2b-4f8d-8ce5-cf1d4ad4788c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5040,
        1020
      ],
      "webhookId": "2ce5b017-87ad-4643-afae-e5f662d11f5d"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Input voice folder essentials').item.json[\"id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "d9887c93-d3e1-47d7-8734-aa006704c26b",
      "name": "Get all items in input folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1980,
        720
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "folder_id",
              "value": "={{ $('Input voice folder essentials').item.json[\"id\"] }}"
            },
            {
              "name": "folder_name",
              "value": "={{ $('Input voice folder essentials').item.json[\"name\"] }}"
            },
            {
              "name": "proc_folder_id",
              "value": "={{ $('Get processed folder').item.json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56515e7d-1301-4d23-a647-85c3d62ab1de",
      "name": "Essential item data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2440,
        740
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "ff270a9b-25f8-480c-82c2-1ce82e202521",
      "name": "Batch of several to transcribe",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2780,
        740
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "type": "random"
      },
      "id": "4bf93f7b-0b22-4de1-af45-4c5466554d55",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        2600,
        740
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Input voice folder essentials').item.json[\"name\"] }}_processed",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Voice processed folder id').item.json[\"voice_proc_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "83d3fae4-e031-43bc-b980-a7fb12e5bcd5",
      "name": "Get processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        640
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=\"{{ $json.textMemoName }}\"",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Text raw folder essentials').item.json[\"text_raw_folder_id\"] }}",
            "mode": "id"
          },
          "whatToSearch": "files",
          "includeTrashed": false
        },
        "options": {}
      },
      "id": "1a46c12d-7d93-4fd4-8580-4612668d837f",
      "name": "Search if the text memo already exists",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3280,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Essential item data').item.json[\"id\"] }}",
          "mode": "id"
        },
        "name": "={{ $('Essential item data').item.json[\"name\"] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Processed folder id').item.json[\"proc_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1309521a-5c3f-4406-82d0-3cbedb82bdc3",
      "name": "Copy input audio to processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4780,
        880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a853a0f1-8bb7-4fc5-9c4a-eb4dede4e0b5",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -300,
        1260
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "text",
        "options": {
          "fileName": "={{ $('Set text memo file name').item.json[\"textMemoName\"] }}",
          "useRawData": true
        }
      },
      "id": "819c165f-398b-4d3f-b6f3-5277ff25972c",
      "name": "MAKE JSON FILES",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        4540,
        580
      ],
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "voice",
        "returnAll": true,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "",
            "mode": "list",
            "cachedResultName": "memo",
            "cachedResultUrl": ""
          }
        },
        "options": {}
      },
      "id": "81f3fd00-bfaf-4b18-b093-a334ff90eb7a",
      "name": "Root folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2560,
        40
      ],
      "retryOnFail": false,
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "root_folder_id",
              "stringValue": "={{ $('Root folder').params[\"filter\"][\"folderId\"][\"value\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e9af0a15-30f3-4b01-af8f-82d7e5b33fc7",
      "name": "Root folder essentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -2420,
        40
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5564aa7a-5694-403e-9fa9-9e951bd42f5b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a2745295-dc32-409b-8d2a-ff059cbab7ec",
      "name": "If voice folder exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2240,
        40
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "voice_folder_root_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8b581042-b966-4c73-b557-6c2215ea6968",
      "name": "Voice  folder root essentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1860,
        20
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "general",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Voice raw folder id').item.json[\"voice_raw_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "34598560-f009-4417-a18c-28542da1e527",
      "name": "Get general voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        700,
        -40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4f5bf724-014c-4e26-8a72-681342d3b9e7",
      "name": "If general voice exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "voice",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Root folder essentials').item.json[\"root_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "c18d66c2-5185-4f3f-bb74-d39385c463b8",
      "name": "Create root voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2060,
        -140
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "general",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Voice raw folder id').item.json[\"voice_raw_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "548bb0b7-fb73-43f9-be14-60e644dbb16e",
      "name": "Create general voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1160,
        -200
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "c5ac91f2-fba7-4d1d-b5df-75747a4297ef",
      "name": "Iterate over all input folders",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -440,
        640
      ]
    },
    {
      "parameters": {},
      "id": "e4b4db23-d630-4636-9a71-5a550502414b",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2760,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c678051-ffa5-4658-b43b-b33c9fd56bda",
      "name": "If processed folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        640
      ]
    },
    {
      "parameters": {},
      "id": "918c4b78-5043-48a1-b220-485616e067ac",
      "name": "Buffer",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "id": "29a861fc-3d98-4c8f-99c6-1007aa11398b",
      "name": "Select new",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2140,
        460
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "text",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Root folder essentials').item.json[\"root_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "1c5b9143-6fc9-4f86-ad09-7717193f18da",
      "name": "Get text root folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1380,
        -40
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fb26e54-4ac1-4f26-9e16-d8ff0b44b784",
      "name": "If text root folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1560,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "raw",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "e701f664-19d1-4ef5-884c-7c68ecb07111",
      "name": "Get text raw folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2080,
        -60
      ],
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "text",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Root folder essentials').item.json[\"root_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "26ca2323-ed7e-48db-b8cd-885342304974",
      "name": "Create text root folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        -220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc86f901-f48b-4308-95df-402605bbc33b",
      "name": "If text raw folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        -60
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "raw",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Text root folder id').item.json[\"text_root_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d3ba9010-2c71-46e3-addb-178db7ee2bdd",
      "name": "Create text raw folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2440,
        -260
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text_raw_folder_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79947124-7620-4fb9-a0f3-95b9132c3833",
      "name": "Text raw folder essentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        2620,
        -80
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text_root_folder_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2dc04f8-731f-448e-86c4-8cca897e59e8",
      "name": "Text root folder id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1920,
        -60
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "raw",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json[\"voice_folder_root_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "3c04009f-c69b-4c51-8341-2fbd26b55513",
      "name": "Get raw voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1700,
        20
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e44a8d7-ce4d-4b0d-8973-9bf349759b51",
      "name": "If raw voice folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1540,
        20
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "raw",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Voice  folder root essentials').item.json[\"voice_folder_root_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "846f3b86-3747-4298-bb0f-2eba3139607f",
      "name": "Create raw voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1360,
        -140
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "voice_raw_folder_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "acba05b0-4778-422b-a492-e3efb49eae6b",
      "name": "Voice raw folder id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -1160,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "92658126-d28e-4b56-ac61-e46b526aec0f",
      "name": "If processed voice folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "processed",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Voice  folder root essentials').item.json[\"voice_folder_root_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "3296f5f3-a7a1-4a2b-8d5b-b276173e5766",
      "name": "Create processed voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        -180
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "voice_proc_folder_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e8ee9a51-0351-4abf-b889-1794c6487c10",
      "name": "Voice processed folder id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        480,
        -40
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=name",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Voice raw folder id').item.json[\"voice_raw_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "7606a0d0-8bab-4568-9cb5-73ec61986a1d",
      "name": "Get all raw voice folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2820,
        120
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f483c136-274c-423d-8a90-0d3381b32ddb",
      "name": "Input voice folder essentials",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -220,
        620
      ]
    },
    {
      "parameters": {
        "name": "={{ $('Set text memo file name').item.json[\"textMemoName\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Text raw folder essentials').item.json[\"text_raw_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "5121dd9b-866d-424a-a781-579663e8c50b",
      "name": "Save text memo to drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4820,
        540
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "ab29c41b-2c8a-4875-8485-4bd5d674c9e3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2740,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d7cca255-fb23-4c94-b01b-f047ee134dd9",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "711a5fd8-f91e-4359-ab57-b39964dde3fb",
      "name": "If new items found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2280,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "dda889d7-d572-45b3-b95c-ae5d2f4296b1",
      "name": "Whisper-transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4240,
        880
      ],
      "typeVersion": 3,
      "credentials": {
        "openAiApi": {
          "id": "EdDTHq6Hm6XVn47p",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Input voice folder essentials').item.json[\"name\"] }}_processed",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Voice processed folder id').item.json[\"voice_proc_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "0d6bed69-81e6-46e8-a56c-e46501906da2",
      "name": "Create processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        760
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "proc_folder_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cc469a96-12fc-4323-82d3-2f696193b326",
      "name": "Processed folder id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1220,
        640
      ],
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "error",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Voice  folder root essentials').item.json[\"id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "e84cc467-b7f0-4aca-b56e-67c38134a43e",
      "name": "Get error voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -920,
        20
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94b88d72-4f87-40fb-8250-7cd0b239b1b7",
      "name": "If error voice folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -740,
        20
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "error",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Voice  folder root essentials').item.json[\"voice_folder_root_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "59fe05f0-bd28-4330-bc5d-d69b343bd1e4",
      "name": "Create error voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -500,
        -160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "processed",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Voice  folder root essentials').item.json[\"voice_folder_root_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "9412fb3b-c96c-458b-8dce-59025fb6be72",
      "name": "Get processed voice folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -40
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Processed folder id').item.json[\"proc_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "78fc6df4-470e-4c9c-91ba-227e3e0ce495",
      "name": "Get all items in processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1420,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "feaa1460-0960-4b77-acc9-0926598bbc1b",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94b60412-5dbc-4d1c-a7e4-028523913b4d",
      "name": "If error folder exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        140,
        620
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "voice_error_folder_id",
              "stringValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f6777b0d-b5ef-47bf-87a1-55bd60556b3b",
      "name": "Voice error folder id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -340,
        -20
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.name }}_error",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Voice error folder id').item.json[\"voice_error_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "2e125e3e-fadc-49c5-bc41-09c859d0a4c3",
      "name": "Get error folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -40,
        620
      ],
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Input voice folder essentials').item.json[\"name\"] }}_error",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Voice error folder id').item.json[\"voice_error_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "4d92a56b-c26e-4829-bb4c-eddd0c16f303",
      "name": "Create error folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        340,
        780
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error_folder_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "461fb595-99ac-4f2d-bcb7-e95a90693388",
      "name": "Error folder id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        640
      ],
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "4aa41c51-6f39-44c5-8de4-93c83951493b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1680,
        460
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Error folder id').item.json[\"error_folder_id\"] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "d7c81a1c-7291-4fb7-a88a-f268d3e9ba45",
      "name": "Get all items in error folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1420,
        400
      ],
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Essential item data').item.json[\"id\"] }}",
          "mode": "id"
        },
        "name": "={{ $('Essential item data').item.json[\"name\"] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Error folder id').item.json[\"error_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "50228eab-645f-4371-9f50-e6c1ec29cd8d",
      "name": "Copy input audio to error folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4500,
        980
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JZG3EdgBt5WkZN0v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# TODO\nRemove double check for  processed status of the voice memo. For now, if text memo for audio file was found, then consider it processed and copy to processed folder as well\n",
        "height": 273.8075573041621,
        "width": 231.75307555766943
      },
      "id": "60660aca-4751-4aa4-b958-9da9bbaf6df3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4000,
        580
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Download audio": {
      "main": [
        [
          {
            "node": "Whisper-transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text memo file name": {
      "main": [
        [
          {
            "node": "Search if the text memo already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter out non-exact matches": {
      "main": [
        [
          {
            "node": "IF text memo found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF text memo found": {
      "main": [
        [
          {
            "node": "Copy input audio to processed folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all items in input folder": {
      "main": [
        [
          {
            "node": "Select new",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Essential item data": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch of several to transcribe": {
      "main": [
        [
          {
            "node": "Set text memo file name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iterate over all input folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Batch of several to transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get processed folder": {
      "main": [
        [
          {
            "node": "If processed folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search if the text memo already exists": {
      "main": [
        [
          {
            "node": "filter out non-exact matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy input audio to processed folder": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Batch of several to transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAKE JSON FILES": {
      "main": [
        [
          {
            "node": "Save text memo to drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Root folder": {
      "main": [
        [
          {
            "node": "Root folder essentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Root folder essentials": {
      "main": [
        [
          {
            "node": "If voice folder exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If voice folder exist": {
      "main": [
        [
          {
            "node": "Voice  folder root essentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create root voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice  folder root essentials": {
      "main": [
        [
          {
            "node": "Get raw voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get general voice folder": {
      "main": [
        [
          {
            "node": "If general voice exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If general voice exists": {
      "main": [
        [
          {
            "node": "Get text root folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create general voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create root voice folder": {
      "main": [
        [
          {
            "node": "Voice  folder root essentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create general voice folder": {
      "main": [
        [
          {
            "node": "Get text root folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iterate over all input folders": {
      "main": [
        [
          {
            "node": "Input voice folder essentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Root folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If processed folder exists": {
      "main": [
        [
          {
            "node": "Processed folder id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create processed folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Get all items in input folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select new": {
      "main": [
        [
          {
            "node": "If new items found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get text root folder": {
      "main": [
        [
          {
            "node": "If text root folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If text root folder exists": {
      "main": [
        [
          {
            "node": "Text root folder id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create text root folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create text root folder": {
      "main": [
        [
          {
            "node": "Text root folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get text raw folder": {
      "main": [
        [
          {
            "node": "If text raw folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If text raw folder exists": {
      "main": [
        [
          {
            "node": "Text raw folder essentials",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create text raw folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create text raw folder": {
      "main": [
        [
          {
            "node": "Text raw folder essentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text raw folder essentials": {
      "main": [
        [
          {
            "node": "Get all raw voice folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text root folder id": {
      "main": [
        [
          {
            "node": "Get text raw folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get raw voice folder": {
      "main": [
        [
          {
            "node": "If raw voice folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If raw voice folder exists": {
      "main": [
        [
          {
            "node": "Voice raw folder id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create raw voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create raw voice folder": {
      "main": [
        [
          {
            "node": "Voice raw folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice raw folder id": {
      "main": [
        [
          {
            "node": "Get error voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If processed voice folder exists": {
      "main": [
        [
          {
            "node": "Voice processed folder id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create processed voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice processed folder id": {
      "main": [
        [
          {
            "node": "Get general voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create processed voice folder": {
      "main": [
        [
          {
            "node": "Voice processed folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all raw voice folders": {
      "main": [
        [
          {
            "node": "Iterate over all input folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input voice folder essentials": {
      "main": [
        [
          {
            "node": "Get error folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save text memo to drive": {
      "main": [
        [
          {
            "node": "Copy input audio to processed folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Root folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If new items found": {
      "main": [
        [
          {
            "node": "Essential item data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Iterate over all input folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper-transcribe": {
      "main": [
        [
          {
            "node": "MAKE JSON FILES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Copy input audio to error folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create processed folder": {
      "main": [
        [
          {
            "node": "Processed folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processed folder id": {
      "main": [
        [
          {
            "node": "Get all items in processed folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get all items in error folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get error voice folder": {
      "main": [
        [
          {
            "node": "If error voice folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error voice folder exists": {
      "main": [
        [
          {
            "node": "Voice error folder id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create error voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create error voice folder": {
      "main": [
        [
          {
            "node": "Voice error folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get processed voice folder": {
      "main": [
        [
          {
            "node": "If processed voice folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all items in processed folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Voice error folder id": {
      "main": [
        [
          {
            "node": "Get processed voice folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get error folder": {
      "main": [
        [
          {
            "node": "If error folder exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If error folder exists": {
      "main": [
        [
          {
            "node": "Error folder id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create error folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create error folder": {
      "main": [
        [
          {
            "node": "Error folder id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error folder id": {
      "main": [
        [
          {
            "node": "Get processed folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all items in error folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy input audio to error folder": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9ab986f1-681a-4395-8e98-007d27fb22ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "beb9879bc8cb5f19791047ba677ad81dfc94de5ec373473f419d6c5d1657b0fd"
  },
  "id": "KzXmcvnkO2yvWchu",
  "tags": []
}