voice_memo_transcribe.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "b6e80bb0-173e-4d4b-b996-5cbfc053517b",
      "name": "Whisper-transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3740,
        880
      ],
      "typeVersion": 3,
      "credentials": {
        "openAiApi": {
          "id": "DHE7oPerLxdXAcKP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Essential item data').item.json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "dc65aa5b-1a9f-49af-87bf-fa40fda820c6",
      "name": "Download audio",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3580,
        880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "textMemoName",
              "value": "={{ $('Essential item data').item.json[\"folder_name\"] }}_{{ $('Essential item data').item.json[\"name\"] }}.txt"
            }
          ]
        },
        "options": {}
      },
      "id": "a37528c0-755c-41c5-b053-c268274ba82b",
      "name": "Set text memo file name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2420,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "value2": "={{ $('Set text memo file name').item.json[\"textMemoName\"] }}"
            }
          ]
        }
      },
      "id": "09d05f32-2850-4a25-a487-e7eef0333b4d",
      "name": "filter out non-exact matches",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        2840,
        560
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "365d175d-4530-4df7-a796-9346212c75d3",
      "name": "IF text memo found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3380,
        860
      ],
      "executeOnce": true,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "ipad",
          "cachedResultUrl": "https://drive.google.com/drive/folders/"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "1a1faa4e-42c0-4a13-a986-b74ab19bc91d",
      "name": "New in ipad folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        460,
        960
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://drive.google.com/drive/folders/"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "1bcb8e23-165a-4faf-ae07-7c3c0295ff0d",
      "name": "New in general folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        460,
        640
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "iphone",
          "cachedResultUrl": "https://drive.google.com/drive/folders/"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "12b863ea-9ab0-43be-9f48-1574bf9ca66b",
      "name": "New in iphone folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        460,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "watch",
          "cachedResultUrl": "https://drive.google.com/drive/folders/"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "bef5c282-83d1-4a85-8eaa-30e1f87ebdc6",
      "name": "New in watch folder",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.1,
        "unit": "minutes"
      },
      "id": "afbba6fe-1fc1-4bea-9b21-7469e637607a",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        4340,
        880
      ],
      "webhookId": "82987932-3514-4620-9b47-a2245dbad2de"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Item data reference node').item.json[\"parents\"][0] }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "6517ccd4-9de6-4889-b48a-36b345fbfa61",
      "name": "Get all items in input folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1360,
        740
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "proc_folder_name",
              "value": "={{ $json.in_folder_name }}_processed"
            }
          ]
        },
        "options": {}
      },
      "id": "09453a88-0d57-408b-9331-9fb1015eeb99",
      "name": "Item data reference node",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        860,
        740
      ],
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "folder_id",
              "value": "={{ $('Item data reference node').item.json[\"parents\"][0] }}"
            },
            {
              "name": "folder_name",
              "value": "={{ $('Item data reference node').item.json[\"in_folder_name\"] }}"
            },
            {
              "name": "proc_folder_id",
              "value": "={{ $('Get processed folder').item.json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6615472b-18b4-4efc-a618-3bbf60066c61",
      "name": "Essential item data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1640,
        660
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "b0eafd26-ceb5-4c8f-91a5-9e64488221ba",
      "name": "Batch of several to transcribe",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        2120,
        740
      ]
    },
    {
      "parameters": {
        "operation": "sort",
        "type": "random"
      },
      "id": "20f051cf-6cf2-42ff-b41d-25e14c601f41",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1920,
        760
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "in_folder_name",
              "value": "watch"
            }
          ]
        },
        "options": {}
      },
      "id": "0a02fa63-f37c-499f-a942-fc0dfdce3908",
      "name": "Set input watch folder name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "in_folder_name",
              "value": "general"
            }
          ]
        },
        "options": {}
      },
      "id": "41350833-498d-43bd-ace6-541088dbfcfd",
      "name": "Set input general folder name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        640
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "in_folder_name",
              "value": "iphone"
            }
          ]
        },
        "options": {}
      },
      "id": "628a164a-028e-40d2-a489-51ff4d30e790",
      "name": "Set input iphone folder name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        800
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "in_folder_name",
              "value": "ipad"
            }
          ]
        },
        "options": {}
      },
      "id": "ae43f6c4-93bf-4e9f-b269-5daeb34290b4",
      "name": "Set input ipad folder name",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        640,
        960
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "options": {}
      },
      "id": "e4ac0c38-684e-4f8c-9fe0-927bed7d03a4",
      "name": "Get all items in processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1220,
        480
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json[\"proc_folder_name\"] }}",
        "filter": {},
        "options": {}
      },
      "id": "2496c0cc-708b-4a28-a8ec-ea3355137c91",
      "name": "Get processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1000,
        560
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "name",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "id": "515d9460-b6bf-4036-87cf-01de344cfc79",
      "name": "Selet new",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1500,
        460
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=\"{{ $json.textMemoName }}\"",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1",
            "mode": "list",
            "cachedResultName": "text",
            "cachedResultUrl": "https://drive.google.com/drive/folders/"
          },
          "whatToSearch": "files",
          "includeTrashed": false
        },
        "options": {}
      },
      "id": "2574013a-820a-450d-9b2e-b19120da7502",
      "name": "Search if the text memo already exists",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2620,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Essential item data').item.json[\"id\"] }}",
          "mode": "id"
        },
        "name": "={{ $('Essential item data').item.json[\"name\"] }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Essential item data').item.json[\"proc_folder_id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "7f70731e-0945-4dff-a62c-2b37f5533df8",
      "name": "Copy input audio to processed folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4120,
        880
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d1ca6789-2f7d-462b-8a6e-c36b0b37122c",
      "name": "Buffer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1200,
        760
      ],
      "executeOnce": true
    },
    {
      "parameters": {},
      "id": "b2f09264-181a-4877-902d-23da9640ebac",
      "name": "End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2460,
        1200
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "text",
        "options": {
          "fileName": "={{ $('Set text memo file name').item.json[\"textMemoName\"] }}",
          "useRawData": true
        }
      },
      "id": "3b7a4884-9c5a-430c-aab8-67edf1c85c84",
      "name": "MAKE JSON FILES",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        3880,
        580
      ],
      "notesInFlow": true,
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "={{ $('Set text memo file name').item.json[\"textMemoName\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "text",
          "cachedResultUrl": "https://drive.google.com/drive/folders/"
        },
        "options": {}
      },
      "id": "4354359a-77e0-4dab-8e73-1bd4bb2eb634",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4160,
        540
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KtAdoWzUMrqyQGvs",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Whisper-transcribe": {
      "main": [
        [
          {
            "node": "MAKE JSON FILES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Whisper-transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set text memo file name": {
      "main": [
        [
          {
            "node": "Search if the text memo already exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter out non-exact matches": {
      "main": [
        [
          {
            "node": "IF text memo found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF text memo found": {
      "main": [
        [
          {
            "node": "Batch of several to transcribe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all items in input folder": {
      "main": [
        [
          {
            "node": "Selet new",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item data reference node": {
      "main": [
        [
          {
            "node": "Get processed folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New in watch folder": {
      "main": [
        [
          {
            "node": "Set input watch folder name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Essential item data": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch of several to transcribe": {
      "main": [
        [
          {
            "node": "Set text memo file name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Batch of several to transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New in general folder": {
      "main": [
        [
          {
            "node": "Set input general folder name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New in iphone folder": {
      "main": [
        [
          {
            "node": "Set input iphone folder name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New in ipad folder": {
      "main": [
        [
          {
            "node": "Set input ipad folder name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input watch folder name": {
      "main": [
        [
          {
            "node": "Item data reference node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get processed folder": {
      "main": [
        [
          {
            "node": "Get all items in processed folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all items in processed folder": {
      "main": [
        [
          {
            "node": "Selet new",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selet new": {
      "main": [
        [
          {
            "node": "Essential item data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search if the text memo already exists": {
      "main": [
        [
          {
            "node": "filter out non-exact matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buffer": {
      "main": [
        [
          {
            "node": "Get all items in input folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy input audio to processed folder": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Batch of several to transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAKE JSON FILES": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Copy input audio to processed folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input general folder name": {
      "main": [
        [
          {
            "node": "Item data reference node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input iphone folder name": {
      "main": [
        [
          {
            "node": "Item data reference node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set input ipad folder name": {
      "main": [
        [
          {
            "node": "Item data reference node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f7746e2-f700-41e9-b0a5-e40ad9253e96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae1c826fe26613ac2253a0f3b34dec0f1f6c26254cfdf33d7ebb8ec44a243139"
  },
  "id": "fX7GG7yxJcNR9q1d",
  "tags": []
}